body {
    background-color:rgb(29, 202, 255);
}
    h1{
        color:rgb(236, 61, 128);
        font-size: 40px;
    }
    h2{
        color:hsl(337, 82%, 57%);
        font-size: 40px;
    }
    h3{
        color:rgb(233, 68, 123);
        font-size: 40px;
    }
 